certifi==2021.5.30
chardet==4.0.0
Cython==0.29.23
dnspython==2.1.0
idna==3.2
prettytable==2.1.0
pymongo==3.11.4
pyTelegramBotAPI==3.7.9
python-dotenv==0.17.1
regexp==0.1
requests==2.25.1
urllib3==1.26.5
wcwidth==0.2.5
